      /* css reset */
      
      * {
          padding: 0;
          margin: 0;
      }
      
      li {
          list-style: none;
      }
      /* menu */
      
      .menu {
          width: 100px;
          background-color: rgba(0, 0, 0, 0.1);
          margin: 10px;
      }
      
      .menu-item {
          position: relative;
          padding: 5px;
          cursor: pointer;
      }
      
      .menu-content {
          display: none;
          position: absolute;
          left: 100%;
          top: 0;
          width: 400px;
          padding: 5px;
          background-color: rgba(0, 0, 0, 0.1);
      }
      
      .menu-item:hover {
          background-color: rgba(0, 0, 0, 0.4);
      }
      
      .menu-item:hover .menu-content {
          display: block;
      }
      
      .menu-loading {
          margin: 45px 0 0 92px;
      }
      
      .menu-content>p {
          line-height: 30px;
      }
      
      .side {
          padding-bottom: 10px;
      }
      
      .side>a {
          margin: 0 4px;
          color: #999999;
          white-space: nowrap;
      }
      /* loading-page */
      
      .loading-page {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1000;
          background-color: #eee;
          text-align: center;
      }
      
      .loading-img {
          position: absolute;
          top: 50%;
      }
      
      .ad img {
          display: inline-block;
          width: 25%;
      }
      
      .none {
          display: none;
      }