/* 布局 */

.header-container {
    background-color: #aaaaaa;
    height: 2.666667rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo,
.header-options {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 布局 */


/* 组件 */


/* 组件 */


/* 内容 */

.logo-link {
    height: 100%;
}

.logo {
    /* max-height: 100%; */
}

.download-btn {
    background-color: rgba(192, 38, 38, 0.658);
    color: #333333;
    font-size: .64rem;
    height: 1.28rem;
    line-height: 1.28rem;
    padding: 0 .64rem;
    border-radius: .64rem;
    font-weight: bold;
}


/* 内容 */