.hearder-container {
    display: flex;
    height: 50px;
    background-color: #ffffff;
    border-bottom: solid 1px #cccccc;
}

.header-inner-container,
.header-logo-container,
.header-toggle,
.header-nav-item,
.header-nav-link,
.header-nav-container,
.header-nav-inner-container,
.header-nav-item {
    height: 100%;
}

.header-toggle {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}

.toggle-btn {
    width: 100%;
    height: 100%;
    background-color: #f00;
    border-radius: 0 100% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.toggle-btn-item {
    width: 20px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
}

.toggle-btn :hover .toggle-btn-item {
    background-color: #cccccc;
}

.toggle-btn-item+.toggle-btn-item {
    margin-top: 4px;
}

.header-logo-container,
.header-a-link,
.header-nav-inner-container {
    display: flex;
    align-items: center;
}

.header-a-link {
    width: 100%;
    justify-content: center;
}

.header-nav-item {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}

.header-nav-item:hover {
    color: #f00;
}

.header-logo {
    width: auto;
    height: 40px;
    display: block;
}

.toggle-nav {
    background-color: #ddd;
    padding: 0;
}

.show {
    top: 0;
    height: 92px !important;
}

.toggle-nav-container {
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.toggle-nav-item {
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #cccccc;
}

.toggle-nav-link {
    height: 100%;
    color: #333333;
    font-size: 14px;
    display: flex;
    align-items: center;
}